.athletic-honors-individual-container{
    width: 17%;
    background-color: rgb(15, 14, 14);
    text-align: center;
    padding: 20px 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 3%;
    color: rgb(195, 185, 185);
}